<html>
  <head>
    <title>I.G.graphics</title>
  </head>
  <body>
    <div>
      <h1><a href="">Rumbo a..</a></h1>
    </div>
    <div>
      <p>publicado: 9.10.2017, 21:16</p>
      <h2><a href="">My primer post</a></h2>
      <p>
        Hola viajero, si buscas aventuras estás en el lugar correcto. Vivimos
        tiempos difíciles por estos parajes, hace tiempo que partieron, para
        intentar dar solución al problema, nuestros mejores guerreros, pero no
        hemos vuelto a tener noticias desde que decidieron adentrarse en esa
        horrible cueva que hay a las afueras del poblado. Hace cuestión de un
        año comenzaron a aparecer algunas “criaturas” por la zona que, desde
        la Guerra Del Sol, de la que hace ya un lustro, jamás se habían
        atrevido a asomarse a la superficie.
        No te voy a mentir, no le llegas a la altura del zapato a ninguno de
        los guerreros que han partido... pero eres la última opción que tenemos
        de averiguar, al menos, que ha sido de ellos.
        Seras de sobra recompensado si nos traes cualquier noticia de nuestra
        gente.
        Sigue pues, tu camino y que los dados del destino te sean favorables.
      </p>
    </div>
    <p>Olle como va mi Python</p>
  </body>
</html>
